 @import "tailwindcss";

 /* Add any other global styles here */
 /* Hide scrollbar */


 .no-scrollbar::-webkit-scrollbar {
   display: none;
 }

 .no-scrollbar {
   scrollbar-width: none;
   -ms-overflow-style: none;
 }

@keyframes heartPop {
  0% {
    transform: scale(0.5);
    opacity: 0.4;
  }

  50% {
    transform: scale(1.3);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.heart-animation {
  animation: heartPop 1.5s ease-out forwards;
}